.App {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
  color: white;
}

.Container {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 75%;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderText {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.HeaderText h1 {
  margin: 0;
  font-size: 2.5rem;
  transition: ease-in-out 0.5s;
}

.HeaderText:hover h1 {
  color: gray;
}

.HeaderText h2 {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  color: gray;
  transition: ease-in-out 0.5s;
}

.HeaderText:hover h2 {
  color: white;
}

.HeaderNav a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 2rem;
  transition: ease-in-out 0.5s;
}

.HeaderNav a:hover {
  color: gray;
}

.Main {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.MainText {
  box-sizing: border-box;
  width: 50%;
}

.MainText h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.MainText p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.MainImage {
  display: flex;
  width: 400px;
  height: 500px;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.JinImage {
  width: 400px;
  height: 500px;
  transition: ease-in-out 1s;
}

.JinImage:hover {
  transform: scale(1.075);
}

.Projects {
  display: flex;
  flex-direction: column;
  margin: 3.5rem auto;
}

.Title {
  display: block;
  position: right;
  font-size: 4rem;
  margin-left: 3rem;
}

.BetterWorld {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.BwDesc {
  width: 45%;
}

.BwDesc a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  width: fit-content;
}

.BwDesc h1 {
  margin-top: 0;
  font-size: 2.5rem;
  color: white;
  transition: ease-in-out 0.5s;
}

.BwDesc h1:hover {
  color: gray;
}

.BwDesc p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.BwImages {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 320px;
  margin-top: 2rem;
}

.BwImages img {
  width: 550px;
  height: 320px;
  border-radius: 1rem;
}

.TodoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.TodoDesc {
  width: 45%;
}

.TodoDesc a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  width: fit-content;
}

.TodoDesc h1 {
  margin-top: 0;
  font-size: 2.5rem;
  color: white;
  transition: ease-in-out 0.5s;
}

.TodoDesc h1:hover {
  color: gray;
}

.TodoImages {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 320px;
  margin-top: 2rem;
}

.TodoImages img {
  width: 550px;
  height: 320px;
  border-radius: 1rem;
}

.LeftBtn {
  left: 40%;
  min-width: 225px;
  justify-content: left;
}

.RightBtn {
  right: 40%;
  min-width: 225px;
}

.LeftBtn,
.RightBtn {
  position: relative;
  background: none;
  border: none;
  transition: ease-in-out 0.5s;
  outline: 0;
}

.LeftBtnIcon {
  float: left;
  padding-left: 20px;
}

.RightBtnIcon {
  float: right;
  padding-right: 20px;
}

.LeftBtnIcon,
.RightBtnIcon {
  color: rgb(198, 198, 198);
  font-size: 3rem;
  height: 4rem;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2%;
}

.EmailIcon,
.InstagramIcon,
.GithubIcon,
.LinkedinIcon {
  color: white;
  font-size: 4rem;
  padding-left: 1.5rem;
  transition: ease-in-out 0.5s;
}

.EmailIcon:hover,
.InstagramIcon:hover,
.GithubIcon:hover,
.LinkedinIcon:hover {
  color: gray;
}
