.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
  color: white;
}

.Container {
  width: 70%;
  height: 90vh;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderText h1 {
  margin: 0;
}

.HeaderText h2 {
  margin-top: 0.5rem;
  color: gray;
}

.HeaderNav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1.5rem;
}

.Main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.MainText {
  width: 50%;
}

.MainText h1 {
  font-size: 4rem;
}

.MainText p {
  font-size: 1.4rem;
  font-weight: 500;
}

.MainImage {
  display: flex;
  align-items: center;
}

.JinImage {
  width: 400px;
  height: 500px;
  border-radius: 1rem;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
