.Footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2%;
}

.InstagramIcon,
.GithubIcon,
.LinkedinIcon {
  color: white;
  font-size: 4rem;
  padding-left: 1.5rem;
  transition: ease-in-out 0.5s;
}

.InstagramIcon:hover,
.GithubIcon:hover,
.LinkedinIcon:hover {
  color: gray;
}
